

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@font-face {
    font-family: 'carmen';
    src: url('../fonts/carmen-sans-7.ttf');
}

@font-face {
    font-family: 'Timepos_Headline';
    src: url('../fonts/TiemposHeadline-Medium.otf');
}

.custom-shape-divider-bottom-1707976710 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707976710 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1707976710 .shape-fill {
    fill: #FFFFFF;
}

h1{
    font-family: 'carmen';
}

button{

font-family: "Varela Round", sans-serif !important;
}

header{
    font-family: 'Varela Round';
}

p{
    font-family: 'poppins';
}

.hero-section{
    margin-left: auto;
    margin-right: auto;
    max-width: 90rem;
}

.hehe{
    display: flex;
    text-align: center;

}


.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 325px;
    height: 450px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
    transition: .3s;
}

.card:hover .poster::before {
    bottom: 0;
}

.poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.card:hover .poster img {
    transform: scale(1.1);
}

.details {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(5px);
    transition: .3s;
    color: #fff;
    /* z-index: 2; */
}

.card:hover .details {
    bottom: 0;
}

.medcondbody{
    display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;

}

.medcondinside{
    width: 25rem;
    background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.medcondform{
    display: grid;
    flex-direction: column;
    align-items: center;
}

.medcondlabel{
    margin-bottom: 8px;
}

.medcondselect .medcondinput{
    border-radius: 12px;
    background-color: aqua;
    padding: 8px;
    margin-bottom: 16px;
    width: 200px;
    border: 1px solid #36B55F;
    border-radius: 4px;
    font-size: 16px;
}

.medcondinput[type="submit"] {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #36B55F;
    color: #fff;
    cursor: pointer;
}

.medcondinput[type="submit"]:hover {
    background-color: #1F8C4C;
}


.contactusform{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;

    color: white;
    width: 100%;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }